#lcx {grid-area: top-bar;}
#lcy {grid-area: left-bar;}
#lcpi {grid-area: plane-info;}
.space-2d-container {grid-area: space;}

.work-space-container {
  height: 100%;
  border: var(--components-border);
  border-radius: var(--components-border-radius);
  background-color: var(--plane-background-color);
  display: grid;
  grid-template-columns: var(--work-space-bar-size) auto;
  grid-template-rows: var(--work-space-bar-size) auto;
  grid-template-areas: 
  "plane-info top-bar"
  "left-bar space";
  overflow: auto;
  color: var(--work-space-text-color);
  font-size: var(--work-space-font-size);
}
